.Start h1{
    font-size: 3.5rem;
}

.Start p{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #ecfa00;
}

.Start button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #ecfa00;
    color: #22202C;
    cursor: pointer;
    text-transform: uppercase;
    transition: .4s;
}

button:hover{
    background: #165e09;
    color: #ccd610;
}