button{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.game h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #f44336;
}
.game .pontos{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #f44336;
}
.tipo span{
    color: #ecfa00;
}

.wordContainer{
    margin: 1.5%;
    padding: 1.5%;
    border: 20px solid #ecfa00;
    display: flex;
}
.letras, 
.quadradoBranco{
    font-size: 70px;
    line-height: 1.5;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    border: 3px solid #000;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.quadradoBranco{
    background-color: #fff;
    color: #fff;
    border: 3px solid #fff;
}

.letraContainer{
    margin-bottom: 1.2em;
}

.letraContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letraContainer input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 0.5em;
}
